## -- job submission
model: roms
jobname: roms_upwelling
queue: normal
memory: "15GB"
walltime: "00:10:00"

modules:
  use:
    - /g/data/vk83/prerelease/modules
  load:
    - coastri-roms/pr1-5

## -- model execution
ncpus: 2

mpi:
  runcmd: mpirun
  flags: -mca coll_ucc_enable 0

## -- model configuration
name: upwelling
model_config: roms_upwelling.in
optional_config_files: varinfo.yaml
exe: romsM

## -- logging and archiving
runlog: false
collate: false
archive: false